<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"   
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:aop="http://www.springframework.org/schema/aop"   
    xmlns:tx="http://www.springframework.org/schema/tx"   
    xsi:schemaLocation="   
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd   
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">   
    
    <!-- sessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
       	<property name="configLocation">
           <value>classpath:/hibernate.cfg.xml</value>
       	</property>
        <property name="dataSource" ref="dataSource"></property>
        <property name="hibernateProperties">  
   			<value>  
	    		hibernate.show_sql=true  
	    		hibernate.hbm2ddl.auto=update 
	    		hibernate.format_sql=true  
	    		hibernate.cache.use_second_level_cache=false  
	    		hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider  
   			</value>  
  		</property> 
    </bean>
    
    <!-- 配置数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/dessert?useUnicode=true&amp;characterEncoding=UTF-8" />
        <property name="user" value="root" />
        <property name="password" value="123456" />
	</bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
    	<tx:attributes>
    		<tx:method name="get*" read-only="true"/>
    		<tx:method name="*"/>
    	</tx:attributes>
    </tx:advice>
    
  	<tx:annotation-driven/>
  	
	<aop:config>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* *..*Service(..))"/>
    </aop:config>
</beans>